.goo {
    color: rgb(253, 252, 252);
    margin-top: 200px;
    padding: 50px;
    font-size: 50px;

}
    
.naav {
    margin-bottom: 20px;
    text-align: center;
    
}
a {
    color: rgb(36, 146, 242);
   
}


.naav {
    background-image: url("petr-sevcovic-qE1jxYXiwOA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 550px
}